/* ******************************** Welcome Page *********************************** */

.welcome{
  height: 100vh; 
  background-color:black;
  display: flex;
  flex-direction: column;
}
.welcome button{
  position: absolute;
  top: 90vh;
  left: 45%;
  background-color: black;
  box-shadow: 3px 3px 5px #3eff06;
  color: #3eff06;
  border-color: #3eff06;
  padding: 1%;
  border-radius: 22px;
  text-shadow: 2px 2px 2px #08ff06;
  font-size: 5vh;
  
}
.logoWelcome{
  display: flex;
  align-items: center;
  justify-content: center;
}
.citation{
  color: #3eff06;
  text-shadow: 2px 2px 2px #01cc00;
  position: absolute;
  left: 70%;
  top: 20vw;
  font-size: 3vh;
}
.source{
  color: red;
  text-shadow: 2px 2px 2px red;
  position: absolute;
  right: 3vw;
  bottom: 3vh;
  
}
.source a{
  text-decoration: red;
  color: red;
}
* {
  /* width: 100%;
  height: 100%; */
  margin: 0;
}




/* CSS Converter */

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  height: 100%;
  /* width: 80%; */
  text-align: center;
  padding: 1rem;
  margin: auto;
}

.input-text {
  color: black;
  margin-bottom: 1rem;
  flex: 1;
}

.output-text {
  /* margin-top: 10em; */
  background-color: black;
  color: white;
  flex: 1;
}
/*******************Button debut*************************************/

.aeraButtons{
  display: flex;
  border-radius: 5px;
  /* width: 94%; */
  /* height: 30vh; */
  box-sizing: border-box;
  padding: 1rem;
  border: 3px solid rgb(165, 172, 209);
  justify-content: space-around;
  align-items: center;
  background-color: rgb(165, 178, 212);
  margin-bottom: 1rem;
}
.aeraButtons button{
  min-width: 10vw;
  padding: .5rem 1rem;
  /* height: 4vw; */
  border-radius: 10px ;
  box-shadow: 10px 5px 5px rgb(44, 6, 182);
}


/*******************Button fin*************************************/
/***************************MainPage Debut**************************************/
.MainPage{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.AsideBarre{
  width: 15%;
  height: 100%;
  
  
}
.textContainer{
  width: 70%;
  height: 80%;
}
.TittleBarre{
  height: 20%;
  width: 70%;
  background-color: red;
}

.ButtonHome {
  background-color: chartreuse;
}




/***************************MainPage Fin**************************************/


/***************************Tittle debut**************************************/
.tittle{
  width: 100%;
}
.tittle .img{
  width: 100%;
}

/***************************MainPage Fin**************************************/

/***************************MainPage Debut**************************************/
/***************************NavBar Debut**************************************/
.navigation{
  display: flex;
  flex-direction: column;
  border-color : #3eff06 ;
  border: solid #3eff06 ;
  height: 98%;
  box-shadow: 3px 3px 3px #01cc00;
  
}
.navBarPic{
  width: 80%;
}

/***************************NavBar FIN**************************************/

/*MODAL CSS */

modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 60%;
}

.modal-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.modal-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
}

.modal-footer {
    background: #263238;
    height: 35px;
    padding: 15px;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
