.App {
  text-align: center;
}

* {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* CSS Converter */

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  margin: auto;
}

.input-text {
  margin-top: 10em;
  color: black;
}

.output-text {
  margin-top: 10em;
  background-color: black;
  color: white;
}
/*******************Button debut*************************************/

.aeraButtons{
  display: flex;
  border-radius: 5px;
  width: 94%;
  height: 30vh;
  border: 3px solid rgb(165, 172, 209);
  justify-content: space-around;
  align-items: center;
  background-color: rgb(165, 178, 212);
}
.aeraButtons button{
  width: 30vw;
  height: 4vw;
  border-radius: 10px ;
  box-shadow: 10px 5px 5px rgb(44, 6, 182);
}


/*******************Button fin*************************************/