.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*******************Button debut*************************************/

.aeraButtons{
  display: flex;
  border-radius: 5px;
  width: 94%;
  height: 3rem;
  border: 3px solid rgb(165, 172, 209);
  justify-content: space-around;
  align-items: center;
  background-color: rgb(165, 178, 212);
}
.aeraButtons button{
  width: 30vw;
  height: 4vw;
  border-radius: 10px ;
  box-shadow: 10px 5px 5px rgb(44, 6, 182);
}


/*******************Button fin*************************************/